:root {
  --main-bg-color: #bb8fce;
  --column-color: rgba(255, 255, 255, 0.5);
  --card-color: #f4ecf7;
  --font-color: #4a235a; }

* {
  margin: 0;
  padding: 0; }

.col-1 {
  width: 100%; }

.col-2 {
  width: 50%; }

.col-3 {
  width: 33.3333333333%; }

.col-4 {
  width: 25%; }

.col-5 {
  width: 20%; }

.col-6 {
  width: 16.6666666667%; }

.col-7 {
  width: 14.2857142857%; }

.col-8 {
  width: 12.5%; }

.col-9 {
  width: 11.1111111111%; }

.col-10 {
  width: 10%; }

.board__body::before,
.board__body::after {
  clear: both;
  content: "";
  display: table; }

body {
  background: var(--main-bg-color); }

.kanban__header {
  padding: 10px; }
  .kanban__header h1 {
    color: var(--font-color);
    margin-bottom: 15px;
    text-align: center; }

.kanban__body {
  display: flex; }

.kanban__create-column {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75); }
  .kanban__create-column:hover {
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75); }

.column {
  min-height: 500px;
  color: var(--font-color);
  flex-grow: 1;
  background: var(--column-color);
  margin: 10px;
  transition: all 1s ease;
  position: relative;
  padding: 15px;
  border-radius: 5px; }
  .column__button {
    border: none;
    padding: 10px;
    border-radius: 5px; }
    .column__button--delete-column {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      position: absolute;
      top: -10px;
      right: -10px;
      font-weight: bold;
      color: var(--font-color);
      -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75); }
      .column__button--delete-column:hover {
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75); }
    .column__button--add-card {
      margin-bottom: 15px;
      -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75); }
      .column__button--add-card:hover {
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75); }
    .column__button--delete-card {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      padding: 0;
      position: absolute;
      top: -7px;
      right: -7px;
      font-weight: bold;
      color: var(--font-color);
      -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75); }
      .column__button--delete-card:hover {
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75); }
  .column__title {
    margin-bottom: 20px; }
  .column__card-list {
    min-height: 20px; }
  .column__card {
    min-height: 30px;
    list-style-type: none;
    background: var(--card-color);
    position: relative;
    padding: 10px;
    margin-bottom: 10px; }
  .column__card-placeholder {
    min-height: 50px;
    list-style-type: none;
    border: 2px dashed var(--font-color); }

/*# sourceMappingURL=style.css.map */